@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(97, 92, 92);

}

nav a:hover {
    color:#e1e4e9;
    font-size: large;
}
nav a:hover svg {
    fill:#e1e4e9;
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.selected:hover {
    color:#ffffff;
    font-size: 1em;
} 
.selected:hover svg {
    fill:#ffffff;
    transform: none;
} 

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.clear {
    content: "";
    clear: both;
    display: table;
}

body {
    height: 100vh;
}

.wrapper {
    height: fit-content;
    margin: 0 auto;
    z-index: 0;

}

.listMenu{
    min-height: calc(100vh - 6em);
    max-height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.column {
    float: left;
    padding: 15px;
}

.sideContent {
    background: #EEEEEE;
    height: calc(100vh - 6em);
    /* min-height: calc(100vh - 6em);
    max-height: fit-content; */
    width: 25%;
    border-right:  solid black;
}

.mapContainer {
    height: calc(100vh - 6em);
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 1%;
    padding-right: 3%;
    height: 40px;
    width: 100%;
    align-items: center;
}

.searchBar > select {
    width: 20%;
    float: left;
    color: #6c757d  ;
}
.plusBtn  {
    width: 38px;
    height: 38px;
    float: left;
    color: white;
    border-radius: 5px;
    background: #618C7C;
    text-align: center;
    line-height: 100%;
    background-image: url("../images/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.searchBar > input[type="text"] {
    width: 30%;
    float: left;
    background-image: url(../images/searchIcon.svg);
    background-repeat: no-repeat;
    text-indent: 40px;
    font-size: 20px;
    background-size: 22px;
    background-position-y: center;
    background-position-x: 10px;

}

.sortIcons{
    display: flex;
    justify-content: space-between;
    padding-right: 28%;   
}

.sort{
    padding-right: 30%;
    padding-left: 20%;
}

.seachBarIcons {
    height: 38px;
    padding-top: 15%;
}

.pipe {
    width: 100%;
    height: 10%;
    background: #C4C4C4;
    border-radius: 33px;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.vertical {
    position: absolute;
    transform: rotate(-90deg);
    width: 16%;
}

#Pipe1 {
    top: 15%;
    left: -5.5%;
}
#Pipe2 {
    top: 35%;
    left: 89.5%;
}
#Pipe3 {
    top: 55%;
    left: -5.5%;
}
#Pipe4 {
    top: 75%;
    left: 89.5%;
}

.cell {
    width: 5.35%;
    height: 95%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.65);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/beet.svg");
    background-image: none;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell:hover {
    background: white;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    box-shadow: 0 0 10px rgb(224, 224, 224);
}

.cell > label {
    color: #0a0a0a;
    margin-top: 150%;
    font-family: 'Orelega One', cursive;
    font-weight: normal;
    user-select: none;
}
.cell > a {
    color: #0a0a0a;
    padding-top: 180%;
    font-family: 'Orelega One', cursive;
    font-weight: normal;
    user-select: none;
    width: 100%;
    cursor: pointer;
}
	
header {
    padding-top: 7px;
    width: 100%;
    height: 6em;
    background: #618C7C;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.burgerMenu {
    position: relative;
    padding-left: 2%;
}
	
nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 25%;
}
	
nav a {  
    text-align: center;  
    color: #c7c2c2;
    font-size: 1em;
    transition-duration: 0.3s;
}

nav svg {
    width: 45px;
    height: 45px;
    fill: #cccccc;
    transition-duration: 0.3s;
}

.selected {
    color: white;
}


.selected svg {
    fill: white;
}

#logo {
    background-image: url(../images/hydrologoWhite.png);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 235px;
    height: 55px;
}
	
span {
    margin: 10px;
}
	
.userName {
    margin-right: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.2em;
}

.user {
    color:white;
}

.user:hover {
    color: rgb(218, 209, 209);
}

.systemStatus {
    display: inline-block;
    margin-right: 3em;
}

.circle {
    border-radius: 50%;
    background-color:  #1fb427;
    box-shadow: #09b103 0 -1px 7px 1px, inset #10c719 0 -1px 9px, #09b103 0 2px 12px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.circle.offline {
    background-color:  #d81212;
    box-shadow: #f52424 0 -1px 7px 1px, inset #e02121 0 -1px 9px, #fb2222 0 2px 12px;
}

main {
    width: 75%;
    float: left;
    display: flex;
    justify-content: center;
}

.searchAllPlants{
    width: 100%; 
}

.map{
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.map > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	color: white;
	font-size: 24px;
	text-align: center;
}

.listSection {
    height: 92%;
    overflow-y: scroll;
    margin-top: 20px;
    direction: rtl;
    display: flex;
    justify-content: flex-end;
}

.plantsList {
    list-style: none;
    padding: 0;
    width: 92%;
    max-width:600px;
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    height: calc(90vh - 140px);
}
.plantListItem {
    justify-content: space-between;
    margin-top: 18px;
    height: 40px;
}

.allPlantList {
    display: flex;
}
.allPlantList > a{
    width: 100%;
    justify-content: space-between;
}

.plantListItem > a{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plantListItem > a:hover {
    color: black;
    border-radius: 5px;
    background: #cececead;
}

.plantListItem > a > img{
    height: 100%;
}

.plantListName {
    /* display: flex; */
    align-items: center;
    /* width: 50%; */
    padding-left: 2%;
    font-size: 1.4em;
    font-weight: 400;
}

.growerName{
    font-weight: 300;
    font-size: 0.9em;
    color: #343a40;
    padding-left: 20px;  
}

.plantListInfo {
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    color: #343a40;
    margin-left: auto;
}

.scroll {
    overflow-y: scroll;
}

/* total width */
.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
}

/* background of the scrollbar except button or resizer */
.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
.scroll::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.scroll::-webkit-scrollbar-button {
    display:none;
}

.sidebarTitle {
    background: #363333;
    width: 100%;
    height: 85px;
    color: white;
    display: flex;
    align-items: center;
}

.sidebarTitle > h1 {
    line-height: 85px;
    margin-left: 3%;
    margin-top: 10px;
    font-size: 1.6em;
}

.plantIcon {
    height: 2.7em;
    margin-left: 4%;
}

.sidebarTitle > a > img {
    height: 55px;
    color: cornflowerblue;
}

.no-padding {
    padding: 0;
}

.breadcrumbsSection {
    margin-top: 15px;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    font-size: 17px;
}

.breadcrumbsItem:last-of-type {
    font-weight: bold;
}

.breadcrumbsItem:last-of-type::after {
    content: "";
}

.breadcrumbsItem::after {
    content: " >";
    margin-right: 4px;
}

.object {
    display: flex;
    flex-direction: column;
}

.objectContent {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.objectContent > span {
    font-size: 22px;
    display: block;
    width: 35%;
    float: left;
} 

.add > span {
    width: 100% !important
}

.add {
    padding-left: 0;
}

.objectContent > span:last-of-type {
    width: 100%;
}

.objectContent > span > label {
    font-weight: 500;
}   

.objectButtons {
    width: 70%;
    margin: 10% auto 0;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.object > .alert {
    margin: 4em auto -2em;
}

.hide {
    /* visibility: hidden; */
    display: none;
}

.COL {
    flex-direction: column;
}

.objectButtons > button {
    width: 130px;
}
.objectButtons > a {
    width: 130px;
}

.objectImage {
    width: 80%;
    /* height: 30%; */
    margin: 8% auto 4%;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.objectImage > img {
    border-radius: 4%;
    width: 100%;
}

#sideBarBtn111 {
    z-index: 1000;
    visibility: hidden;
    margin-left: auto;
    cursor: pointer;
}

#sideBarBtn {
    position: absolute;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    cursor: pointer;
    transition: 0.5s;
}

#sideBarBtn:hover {
    left: 20px
}

#sideBarBtn > img {
    height: 55px;
}

.tasks {
    width: 100%;
    margin-top: 8vh;
}

.tasksList {
    overflow: auto;
    display: flex;
    flex-shrink: unset;
    margin-top: 28px;
}

.tasks > h2 {
    font-weight: 500;
}

.tasksList > a {
    display: inline-block;
    color: black;
    background: #eeeeee;
    padding: 14px;
    margin-left: 10px;
    margin-bottom: 7px;
    text-decoration: none;
    border-radius: 10px;
    height: 10em;
    min-width: 14em;
}

.tasksList > a:first-of-type {
    margin-left: 0;
}

.tasksList > a > h1{
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

.tasksList > a > p{
    font-size: 1.1em;
    font-weight: 300;
}

.homeCard {
    display: inline-block;
    color: black;
    background: #eeeeee;
    padding: 14px;
    margin-left: 10px;
    margin-bottom: 7px;
    text-decoration: none;
    border-radius: 10px;
    height: 10em;
    min-width: 14em;
    margin-top: 2em;
}

.homeCard > h3 {
    text-transform: uppercase;
    margin-top: -2.2em;
    font-size: 1.3em;
}

.stat {
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    font-size: 5em;
    margin: 1em auto;
    /* line-height: 3em; */
}
.stat > span {
    font-size: 0.4em;
    line-height: 2px;
}

.waterVal {
    display: grid;
    position: relative;
    width: 100%;
    height: 85%;
    margin-left: 10%;
    margin-top: 10%;

    grid-template-columns: 2fr 1fr;
    align-content: space-between;
}

.liveView {
    /* min-width: calc(14em * 2 + 20px); */
    /* margin-top: 0; */
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url("../images/Ripe-eggplant.jpg");
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.gaugeSec{
    min-width: calc(14em * 3 + 30px);
    grid-column-start: 1;
    grid-column-end: 4;
    height: 17em;
    /* display: grid; */
    /* justify-content: space-around; */
    /* grid-template-columns: 30% 30% 30%; */
}

.homeStats {
    width: 48%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    gap: 10px;
}

.homeStats > .homeCard {
    height: 17em;
}

.weather {
    margin-top: 8vh;
    width: 100%;
    /* position: absolute;  */

}

.homeWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 1em; */
    margin: 1.2em auto;
    /* margin-left: 2em; */
    width: 98%;
}

.test {
    width: 100px;
}

.gaugeSec > div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 90% 10%;
    height: 17em;
    align-items: center;
}

.gaugeLable {
    /* position: absolute; */
    margin-bottom: 8em;
    font-size: larger;
    text-align: center;
}


/* ..................... */
.gauge-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 4em;

}
  
.gauge-container > .gauge > .dial {
    stroke: #77777770;
    stroke-width: 6;
}
  
.gauge-container > .gauge > .value {
    stroke: #618c7c;
    stroke-width: 6;
}
 
.gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans, 'sans-serif';
    font-weight: bold;
    font-size: 0.6em;
}
/* ..................... */


.welcomeSection > h1 {
    font-size: 3.2em;
}

.welcomeSection > h3 {
    font-size: 1.5em;
    color: slategrey;
    font-weight: 400;
}

.google-weather {
    position: relative;
    left: -180px; 
    top: -180px;
    width: 100em; 
    height: 10240px;
    transform-origin: 180px 180px;
    transition: 0.3s;
    position: absolute;
}
.google-weather-crop {
    width: calc(655px); 
    height: calc(350px);
    overflow: hidden;
    transition: 0.3s;
    position: absolute;
}
.google-weather-place {
    width: 50%; 
    height: 10vh;
    margin-left: 200px;
    margin-top: 200px;
}

.homePage {
    /* margin: 1em 2em; */
    float: left;
    width: 49%;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 0;
}
.sidenav a {
    margin-top: 0.5em;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cfcfcf;
    display: block;
    transition: 0.3s;

}
.userNameB a {
    font-size: 20px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .selectedB {
    font-size: 30px;
    font-weight: bold;
}

.cellSelected {
    border: 0.12em dashed black; 
}

/* Desktop */
@media only screen and (min-width: 76em){
    .burgerMenu{
        display: none;
    }
    #logo {
        margin-left: 1.5em;
    }
}
/* Laptop */
@media only screen and (max-width: 76em) {
    .sideContent {
        /* visibility: hidden; */
        position: absolute;
        width: 30vw;
        z-index: 100;
        width: 40vw;
    }
    main {
        width: 100%;
    }
    #sideBarBtn {
        visibility: visible;
        transform: translate(33vw,0);
    }
    nav {
        display: none;
    }
    .user {
        display: none;
    }
    .system {
        margin-right: 0;
    }
    #logo {
        margin: auto;

    }
    .userNameB  {
        position: absolute;
        bottom: 50px;
    }
    .searchBar {
        width: calc(100% - 55px);
    }
    .tasks {
        width: 100%;
    }
    .weather {
        width: 90%;
    }
}
/* Tablet */
@media only screen and (max-width: 60em) {
    header {
        width: 100%;
    }
    .object {
        width: 95%;
        margin: auto auto;
    }
    #sideBarBtn {
        visibility: hidden;
    }
    .sideContent {
        width: 100%;
        visibility: visible;
        border: hidden;
        position: static;
    }
    main {
        visibility: hidden;
        position: absolute;
    }
    .wrapper {
        width: 100%;
    }
    nav {
        display: none;
    }
    .user {
        display: none;
    }
    .searchBar {
        width: 100%;
    }
}
/* Phone */
@media only screen and (max-width: 48em) {
    .object {
        width: 100%;
    }
    .sideContent {
        width: 100%;
        visibility: visible;
        border: hidden;
        /* height: fit-content; */
    }
    main {
        visibility: hidden;
        position: absolute;
    }
    nav{
        display: none;
    }
     .user{
        display: none;
    }
    .circle {
        visibility: visible;
        position: absolute;
        right: 40px;
        top: 2.8em;     
    }
    .systemStatus {
        float: right;
        margin: 0;
        margin-left: 1em;
        font-size: 0.9em;
        white-space: nowrap;
        visibility: hidden;
    }

    .homeStats {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    .stat {
        margin: 0.4em auto;
    }

    .homeStats > .homeCard {
        height: 10em;
    }

    .homePage {
        width: 100%;
        float: none;
    }
    .gaugeSec {
        display: flex;
        width: 100%;
        min-width: 0;
    }

    .gaugeSec > div {
        width: 100%;
        position: absolute;
        margin-top: -6em;
        grid-template-rows: auto;
        margin-left: -1em;
    }

    .gaugeLable {
        position: absolute;
        top: 10em;
    }
    .gaugeLable:nth-of-type(1) {
        left: 12%;
    }
    .gaugeLable:nth-of-type(2) {
        left: 39%;
    }
    .gaugeLable:nth-of-type(3) {
        left: 75%;
    }
    
}

.likeButton {
    padding-left:auto;
    background:none;
    border: unset;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    color: #797a7c;
    padding: 5px 10px;
  }
  .likeButton.liked {
    color: #0571ed;
  }
  .likeButton.liked i{
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
  }
  
  @keyframes anim {
    100% {
      transform: rotate(-15deg) scale(1.3);
      -webkit-transform: rotate(-15deg) scale(1.3);
      -moz-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      -o-transform: rotate(-15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
  }



@media only screen and (max-width: 88em) {    
    .homeWrapper {
        display: block;
    }
    .homeStats {
        margin-top: 6em;
        width: 100%;
    }
    .homePage {
        width: 100%;
        float: none;
    }
}

/* loader */

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  