@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(97, 92, 92);

}

 nav a:hover {
    color:#e1e4e9;
    font-size: large;

}
.selected:hover {
    color:#ffffff;
    font-size: 1em;
} 

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.clear {
    content: "";
    clear: both;
    display: table;
}

body {
    height: 100vh;
}

.wrapper {
    height: fit-content;
    margin: 0 auto;
    z-index: 0;

}

.column {
    float: left;
    padding: 15px;
}

.sideContent {
    background: #EEEEEE;
    min-height: calc(100vh - 6em);
    max-height: fit-content;
    width: 25%;
    border-right:  solid black;
}

.mapContainer {
    height: calc(100vh - 6em);
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 1%;
    padding-right: 3%;
    height: 40px;
    width: 100%;
    align-items: center;
}

.searchBar > select {
    width: 20%;
    float: left;
    color: #6c757d  ;
}
.plusBtn  {
    width: 38px;
    height: 38px;
    float: left;
    color: white;
    border-radius: 5px;
    background: #618C7C;
    text-align: center;
    line-height: 100%;
    background-image: url("../images/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.searchBar > input[type="text"] {
    width: 30%;
    float: left;
    background-image: url(../images/searchIcon.svg);
    background-repeat: no-repeat;
    text-indent: 40px;
    font-size: 20px;
    background-size: 22px;
    background-position-y: center;
    background-position-x: 10px;

}

.seachBarIcons {
    height: 38px;
    padding-top: 15%;
}

.pipe {
    width: 100%;
    height: 10%;
    background: #C4C4C4;
    border-radius: 33px;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.vertical {
    position: absolute;
    transform: rotate(-90deg);
    width: 16%;
}

#Pipe1 {
    top: 15%;
    left: -5.5%;
}
#Pipe2 {
    top: 35%;
    left: 89.5%;
}
#Pipe3 {
    top: 55%;
    left: -5.5%;
}
#Pipe4 {
    top: 75%;
    left: 89.5%;
}

.cell {
    width: 5.35%;
    height: 95%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.65);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/beet.svg");
    background-image: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell > label {
    color: #0a0a0a;
    margin-top: 150%;
    font-family: 'Orelega One', cursive;
    font-weight: normal;
    user-select: none;
}
.cell > a {
    color: #0a0a0a;
    padding-top: 180%;
    font-family: 'Orelega One', cursive;
    font-weight: normal;
    user-select: none;
    width: 100%;
    cursor: pointer;
}
	
header {
    padding-top: 7px;
    width: 100%;
    height: 6em;
    background: #618C7C;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.burgerMenu {
    position: relative;
    padding-left: 2%;
}
	
nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 25%;
}
	
nav a {  
    text-align: center;  
    color: #c7c2c2;
    font-size: 1em;
}

.selected {
    color: white;
}

#logo {
    background-image: url(../images/hydrologoWhite.png);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 235px;
    height: 55px;
}
	
span {
    margin: 10px;
}
	
.userName {
    margin-right: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.2em;
}

.user {
    color:white;
}

.user:hover {
    color: rgb(218, 209, 209);
}

.systemStatus {
    display: inline-block;
    margin-right: 3em;
}

.circle {
    border-radius: 50%;
    background-color:  #1fb427;
    box-shadow: #09b103 0 -1px 7px 1px, inset #10c719 0 -1px 9px, #09b103 0 2px 12px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

main {
    width: 75%;
    float: left;
    display: flex;
    justify-content: center;
}

.map{
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.map > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
	color: white;
	font-size: 24px;
	text-align: center;
}

.listSection {
    height: 92%;
    overflow-y: scroll;
    margin-top: 20px;
    direction: rtl;
    display: flex;
    justify-content: center;
}

.plantsList {
    list-style: none;
    padding: 0;
    width: 92%;
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    height: calc(90vh - 140px);
}
.plantListItem {
    margin-top: 18px;
    height: 40px;
}

.plantListItem > a{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plantListItem > a:hover {
    color: black;
    border-radius: 5px;
    background: #cececead;
}

.plantListItem > a > img{
    height: 100%;
}

.plantListName {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.4em;
    font-weight: 400;
}

.plantListInfo {
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    color: #343a40;
}

.scroll {
    overflow-y: scroll;
}

/* total width */
.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
}

/* background of the scrollbar except button or resizer */
.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
.scroll::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
}

/* set button(top and bottom of the scrollbar) */
.scroll::-webkit-scrollbar-button {
    display:none;
}

.sidebarTitle {
    background: #363333;
    width: 100%;
    height: 85px;
    color: white;
    display: flex;
    align-items: center;
}

.sidebarTitle > h1 {
    line-height: 85px;
    margin-left: 3%;
    margin-top: 10px;
    font-size: 1.6em;
}

.plantIcon {
    height: 2.7em;
    margin-left: 4%;
}

.sidebarTitle > a > img {
    height: 55px;
    color: cornflowerblue;
}

.no-padding {
    padding: 0;
}

.breadcrumbsSection {
    margin-top: 15px;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    font-size: 17px;
}

.breadcrumbsItem:last-of-type {
    font-weight: bold;
}

.breadcrumbsItem:last-of-type::after {
    content: "";
}

.breadcrumbsItem::after {
    content: " >";
    margin-right: 4px;
}

.object {
    display: flex;
    flex-direction: column;
}

.objectContent {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.objectContent > span {
    font-size: 22px;
    display: block;
    width: 35%;
    float: left;
} 

.objectContent > span:last-of-type {
    width: 100%;
}

.objectContent > span > label {
    font-weight: 500;
}   

.objectButtons {
    width: 70%;
    margin: 10% auto 0;
    display: flex;
    justify-content: space-between;
}

.objectButtons > button {
    width: 130px;
}

.objectImage {
    width: 80%;
    height: 30%;
    margin: 8% auto 4%;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.objectImage > img {
    border-radius: 4%;
    width: 100%;
}

#sideBarBtn111 {
    z-index: 1000;
    visibility: hidden;
    margin-left: auto;
    cursor: pointer;
}

#sideBarBtn {
    position: absolute;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    cursor: pointer;
    transition: 0.5s;
}

#sideBarBtn:hover {
    left: 20px
}

#sideBarBtn > img {
    height: 55px;
}

.tasks {
    width: 50%;
    margin-top: 8vh;
}

.tasksList {
    overflow: auto;
    display: flex;
    flex-shrink: unset;
    margin-top: 28px;
}

.tasks > h2 {
    font-weight: 500;
}

.tasksList > a {
    display: inline-block;
    color: black;
    background: #eeeeee;
    padding: 14px;
    margin-left: 10px;
    margin-bottom: 7px;
    text-decoration: none;
    border-radius: 10px;
    height: 10em;
    min-width: 14em;
}

.tasksList > a:first-of-type {
    margin-left: 0;
}

.tasksList > a > h1{
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400;
}

.tasksList > a > p{
    font-size: 1.1em;
    font-weight: 300;
}

.weather {
    margin-top: 8vh;
    width: 50%;
    position: absolute; 

}

.welcomeSection > h1 {
    font-size: 3.2em;
}

.welcomeSection > h3 {
    font-size: 1.5em;
    color: slategrey;
    font-weight: 400;
}

.google-weather {
    position: relative;
    left: -180px; 
    top: -180px;
    width: 100em; 
    height: 10240px;
    transform-origin: 180px 180px;
    transition: 0.3s;
    position: absolute;
}
.google-weather-crop {
    width: calc(655px); 
    height: calc(350px);
    overflow: hidden;
    transition: 0.3s;
    position: absolute;
}
.google-weather-place {
    width: 50%; 
    height: 10vh;
    margin-left: 200px;
    margin-top: 200px;
}

.homePage {
    margin: 1em 2em;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 0;
}
.sidenav a {
    margin-top: 0.5em;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cfcfcf;
    display: block;
    transition: 0.3s;

}
.userNameB a {
    font-size: 20px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .selectedB {
    font-size: 30px;
    font-weight: bold;
}

#id21 {
    border: 0.12em dashed black; 
}

/* Desktop */
@media only screen and (min-width: 76em){
    .burgerMenu{
        display: none;
    }
    #logo {
        margin-left: 1.5em;
    }
}
/* Laptop */
@media only screen and (max-width: 76em) {
    .sideContent {
        /* visibility: hidden; */
        position: absolute;
        width: 30vw;
        z-index: 100;
        width: 40vw;
    }
    main {
        width: 100%;
    }
    #sideBarBtn {
        visibility: visible;
        transform: translate(33vw,0);
    }
    nav {
        display: none;
    }
    .user {
        display: none;
    }
    .system {
        margin-right: 0;
    }
    #logo {
        margin: auto;

    }
    .userNameB  {
        position: absolute;
        bottom: 50px;
    }
    .searchBar {
        width: calc(100% - 55px);
    }
    .tasks {
        width: 100%;
    }
    .weather {
        width: 90%;
    }
}
/* Tablet */
@media only screen and (max-width: 60em) {
    header {
        width: 100%;
    }
    .object {
        width: 95%;
        margin: auto auto;
    }
    #sideBarBtn {
        visibility: hidden;
    }
    .sideContent {
        width: 100%;
        visibility: visible;
        border: hidden;
        position: static;
    }
    main {
        visibility: hidden;
        position: absolute;
    }
    .wrapper {
        width: 100%;
    }
    nav {
        display: none;
    }
    .user {
        display: none;
    }
}
/* Phone */
@media only screen and (max-width: 48em) {
    .object {
        width: 100%;
    }
    .sideContent {
        width: 100%;
        visibility: visible;
        border: hidden;
    }
    main {
        visibility: hidden;
        position: absolute;
    }
    nav{
        display: none;
    }
     .user{
        display: none;
    }
    .circle {
        visibility: visible;
        position: absolute;
        right: 40px;
        top: 2.8em;     
    }
    .systemStatus {
        float: right;
        margin: 0;
        margin-left: 1em;
        font-size: 0.9em;
        white-space: nowrap;
        visibility: hidden;
    }
    #logo {
        margin-left: 25px;
        margin-bottom: 8px;
    }
}
